:root {
    --bg: black;
    --fg: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg);
    color: var(--fg);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
    background-color: none;
    border: none;

    &:focus {
        outline: none;
    }
}
